<%- include("../_partials/_initial") %>

<script>
function Click(r) {
    var xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        document.getElementById("frame").innerHTML = this.responseText;
    }
    xhttp.open("GET", r.href);
    xhttp.send();
}

var xhttp = new XMLHttpRequest();
xhttp.onload = function() {
    document.getElementById("assigned").innerHTML = this.responseText;
}
xhttp.open("GET", "/pos/assigned-orders");
xhttp.send();

var xhttp = new XMLHttpRequest();
xhttp.onload = function() {
    document.getElementById("orderinfo").innerHTML = this.responseText;
}
xhttp.open("GET", "/pos/orderinfo");
xhttp.send();

function Assign(){

    var transfer = $("#transfer").val();
    var oid = $("#oid").val();
    var url = "/pos/oid=" + oid + "/transfer";

    if (!transfer) {
        alert("Transfer field should not be empty");
        $("#transfer").focus();
    } else {
        $.ajax({
            type:"POST",
            url:url,
            data:{
                transfer:transfer
            },
            success: function(e) {
                var x = document.getElementById("snackbar");
                x.innerHTML = e;
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    document.getElementById("assigned").innerHTML = this.responseText;
                }
                xhttp.open("GET", "/pos/assigned-orders");
                xhttp.send();
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    document.getElementById("orderinfo").innerHTML = this.responseText;
                }
                xhttp.open("GET", "/pos/orderinfo");
                xhttp.send();

            },
            error: function(e) {
                var x = document.getElementById("snackbar");
                x.innerHTML = e.responseText;
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                var xhttp = new XMLHttpRequest;
            }
        })
    }

}

function Transac(r) {

    $.ajax({
        type:"GET",
        url:r.href,
        success: function(e) {
                var x = document.getElementById("snackbar");
                x.innerHTML = e;
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    document.getElementById("assigned").innerHTML = this.responseText;
                }
                xhttp.open("GET", "/pos/assigned-orders");
                xhttp.send();
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    document.getElementById("orderinfo").innerHTML = this.responseText;
                }
                xhttp.open("GET", "/pos/orderinfo");
                xhttp.send();
        },
        error:function (e) {
        var x = document.getElementById("snackbar");
                x.innerHTML = e.responseText;
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                var xhttp = new XMLHttpRequest;
            }
    })

}

</script>

<div class="row g-2">

<div class="col-auto">
<a href="/pos/create-order" class="btn btn-outline-success">

<div class="row align-items-center g-1">
<div class="col-auto">
<i class="bi bi-cart-plus-fill fs-3"></i>
</div>
<div class="col-auto">
<b> Create Order </b>
</div>
</div>
</a>

</div>

<div class="col-auto">
<a href="/crm" class="btn btn-outline-success">

<div class="row align-items-center g-1">
<div class="col-auto">
<i class="bi bi-people fs-3"></i>
</div>
<div class="col-auto">
<b> CRM </b>
</div>
</div>
</a>

</div>

<div class="col-auto">
<a href="/promos" class="btn btn-outline-success">

<div class="row align-items-center g-1">
<div class="col-auto">
<i class="bi bi-percent fs-3"></i>
</div>
<div class="col-auto">
<b> Promos </b>
</div>
</div>
</a>

</div>


</div>

<hr>

<div class="row">
<div class="col-md-7">

<div id="orderinfo">

</div>

</div>
<div class="col-md-5">
<div class="card">
<div class="card-header text-center"><b> Assigned Order </b></div>
<div class="card-body">

<div id="assigned">

</div>

</div>
</div>
</div>

</div>
</div>



<div class="modal fade l" id="Frame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">EROSSENTIAL POINT-OF-SALES</h1>
        <button type="button" id="cls" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div id="frame">

        </div>

      </div>
      <div class="modal-footer">
        <button type="button"  id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


