<%- include("../_partials/_initial") %>


<div class="row g-2">

<div class="col-auto">
<a href="/pos/create-order" class="btn btn-outline-success">

<div class="row align-items-center g-1">
<div class="col-auto">
<i class="bi bi-cart-plus-fill fs-3"></i>
</div>
<div class="col-auto">
<b> Create Order </b>
</div>
</div>
</a>

</div>

<div class="col-auto">
<a href="/pos/create-order" class="btn btn-outline-success">

<div class="row align-items-center g-1">
<div class="col-auto">
<i class="bi bi-clock-history fs-3"></i>
</div>
<div class="col-auto">
<b> Pending Orders </b>
</div>
</div>
</a>

</div>

<div class="col-auto">
<a href="/pos/create-order" class="btn btn-outline-success">

<div class="row align-items-center g-1">
<div class="col-auto">
<i class="bi bi-cart-check-fill fs-3"></i>
</div>
<div class="col-auto">
<b> Pending Orders </b>
</div>
</div>
</a>

</div>



