<%- include("../_partials/_initial") %>

<div class="text-center">

<h1 class="text-danger">401 - UNAUTHORIZED ACCESS! </h3>
<p class="fs-3"> You're not allowed to access this page, please click <a href="#back" onclick="history.back()"> here </a> to go back</p>