<%- include("../_partials/_header") %>

<div class="text-center">

<h1 class="text-danger">404 - PAGE NOT FOUND! </h3>
<p class="fs-3"> I believe you're now lost, please click <a href="#back" onclick="history.back()"> here </a> to go back</p>