<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en">
        </head>

<body>


<table class="table text-center">
<% comms.forEach((comms)=> {%>
<tr>
<td><a href="/comms/comms=<%- comms._id %>" data-bs-target="#Frame" data-bs-toggle="modal" onclick="Click(this)"> <%- comms.title %></td>
<td><%- comms.type %></td>
</tr>
<% }) %>

